/* Estilizações gerais */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F5F8;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
}

/* Estilizações da navbar */
.selecionado {
    font-weight: 600;
}

.navbar, .navbar a {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    gap: 28px;
    align-items: center;
}

.navbar a:hover {
    font-weight: 700;
    transition: 0.4s;
} 

.logo img{
    height: 50px;
}

.container-navbar {
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilizações do banner */
.banner-main.home {
    background-image: url(../assets/fundo-gradiente.png);
    background-size: cover;
    height: 500px;
    color: #ffffff;
    background-color: #040736;
    padding: 0px 50px;
}

.banner-main.logado {
    background-image: url(../assets/fundo-gradiente.png);
    background-size: cover;
    height: 100px;
    color: #ffffff;
    background-color: #040736;
    padding: 0px 50px;
}

.banner {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao {
    cursor: pointer;
    border: none;
    border-radius: 7px;
    margin: 10px 5px 10px 5px;
    min-width: 100px;
    min-height: 30px;
    font-family: "Inter", sans-serif;
}

.botao-branco {
    color: #040736;
    background-color: #ffffff;
    transition: transform .2s;
}

.botao-azul {
    color: #F4F5F8;
    background-color: #040736;
}

.botao-azul-claro {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F4F5F8;
    background-color: #003DD4;
}

.botao-branco:hover {
    transform: scale(1.1);
}

.navbar .icon, .fechar {
    cursor: pointer;
}

/* Estilizações do conteúdo */
#container-sobre {
    margin: 20px 60px;
}

.cards {
    display: flex;
    text-align: center;
    gap: 80px;
    padding: 0px 40px;
}

.sobre {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.sobre-texto {
    width: 60%;
}

.sobre-imagem {
    width: 35%;
}

.sobre-imagem img {
    width: 100%;
    border-radius: 7px;
}

/* Estilizações do footer */
.footer {
    background-image: url(../assets/fundo-gradiente.png);
    background-size: cover;
    /* height: 220px; */
    color: #ffffff;
    background-color: #040736;
    display: flex;
    flex-direction: column;
    padding: 50px 60px 0px 60px;
    font-size: 14px;
}

.footer .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#footer-ano {
    text-align: center;
}

.footer hr {
    width: 100%;
}

.logo-footer img{
    height: 80px;
}

/* Estilições do login */
.banner-login {
    background-image: url(../assets/fundo-gradiente.png);
    background-size: cover;
    height: 500px;
    color: #ffffff;
    background-color: #040736;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 50px;
    flex-direction: column;
}

.sobre-texto {
    width: 60%;
}

.sobre-imagem {
    width: 35%;
    flex-direction: column;
}

.conteudo-login {
    color: #040736;
    display: flex;
    padding: 60px 60px 0px 60px;    
    width: 80%;
    height: 80%;
    align-self: center;
    justify-content: space-around;
}

.div-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    width: 40%;
}

.div-input label {
    margin-bottom: 10px;
}

.input {
    height: 32px;
    padding: 0px 10px 0px 10px;
    background-color: #F4F5F8;
    border-radius: 5px;
    border: 1px #959595 solid;
    width: 100%;
    border-radius: 7px;
}

.conteudo-login {
    color: #040736;
    display: flex;
    padding: 60px 60px 0px 60px;    
    width: 80%;
    height: 80%;
    align-self: center;
    justify-content: space-around;
}

.div-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    min-width: 40%;
}

.div-input label {
    margin-bottom: 10px;
}

.input {
    height: 32px;
    padding: 0px 10px 0px 10px;
    background-color: #F4F5F8;
    border-radius: 5px;
    border: 1px #959595 solid;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.texto-login {
    display: flex;
    color: #ffffff;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 160px;
}

.texto-login h1 {
    margin: 0;
}

.container-campos {
    display: flex;
    align-items: center;
    background-color: #F4F5F8;
    height: 80%;
    width: 40%;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
}

.texto-destacado {
    font-weight: 600;
}

/* Modal da navbar */
#modal_notificacoes {
    display: none;
    position: fixed;
    right: 50px;
    padding: 0px;
    align-self: flex-start;
    justify-self: end;
}

#modal_usuario {
    display: none;
    position: fixed;
    right: 50px;
    padding: 0px;
    align-self: flex-start;
    justify-self: end;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal {
    flex-direction: column;
    background-color: #fbfbfc;
    color: #1b1b1d;
    opacity: 0;
    width: 25%;
    padding: 0px 40px;
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 30px;
    font-size: 13px;
    transition: opacity 0.3s ease-in-out; 
    box-shadow: -2px 3px 12px -1px rgba(0, 0, 0, 0.25);
}

.notificacao {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: #d9d9d9 1px solid;
}

.notificacao .icon {
    margin-right: 10px;
}

.modal h3 {
    font-size: 16px;
}

.notificacao h4 {
    margin-bottom: 0px;
    font-size: 14px;
}

.notificacao p {
    margin-top: 10px;
}

.grupo-modal {
    display: flex;
    justify-content: flex-end;
}

.modal-header.header-azul{
    padding: 10px 25px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: #040B5A;
    color: #fbfbfc;
}

.conteudo-user {
    margin-right: 20px;
}

.conteudo-user h3 {
    margin-bottom: 0;
}

.conteudo-user p {
    margin-top: 0;
    color: #fbfbfc83;
}

.conteudo-opcao {
    padding: 0px 25px 0px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
}

.conteudo-opcao p {
    cursor: pointer;
}

.modal-conteudo {
    padding: 10px 0px;
}

.modal-conteudo hr {
    width: 90%;
    align-self: center;
    opacity: 40%;
}

.texto-sair {
    color: #FF2020;
}

#btn_fechar {
    align-self: flex-start;
    justify-self: flex-end;
    padding-top: 15px;
}

/* Tela de requisições */
.linha-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 2rem 4rem 2rem 4rem;
    height: 5rem;
}

.card.pai {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 12.5rem;
    gap: 1.25rem;
    padding: 0 1.875rem;
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.10);
}

.card.pai.blue {
    border-left: .3125rem solid #0075BE;
}
.card.pai.green {
    border-left: .3125rem solid #00E031;
}
.card.pai.yellow {
    border-left: .3125rem solid #EEEA00;
}
.card.pai.red {
    border-left: .3125rem solid #F30000;
}

.img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 100%;
}

.img-card svg {
    width: 2.5rem;
    height: 2.5rem;
    height: 100%;
}

.card.info-requisicao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0.625rem;
}

.card.info-requisicao .card-header{
    font-size: 0.8rem;
}

.card.info-requisicao .card-conteudo{
    font-size: 1rem;
    font-weight: 800;
}