@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F5F8;
    height: 100%;
}

.selecionado {
    font-weight: 600;
}

.navbar, .navbar a {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    gap: 50px;
}

.navbar a:hover {
    font-weight: 700;
    transition: 0.4s;
} 

.logo img{
    height: 50px;
}

.container-navbar {
    padding: 20px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
}

.banner-home {
    background-image: url(../assets/fundo-gradiente.png);
    background-size: cover;
    height: 500px;
    color: #ffffff;
    background-color: #040736;
}

.banner {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao {
    cursor: pointer;
    border: none;
    border-radius: 7px;
    margin: 10px 5px 10px 5px;
    width: 100px;
    height: 30px;
    font-family: "Inter", sans-serif;
}

.botao-branco {
    color: #040736;
    background-color: #ffffff;
    transition: transform .2s;
}

.botao-azul {
    color: #F4F5F8;
    background-color: #040736;
    transition: transform .2s;
}

.botao:hover {
    transform: scale(1.2);
}

#container-sobre {
    margin: 20px 60px;
}

.cards {
    display: flex;
    text-align: center;
    gap: 80px;
    padding: 0px 40px;
}

.footer {
    background-image: url(../assets/fundo-gradiente.png);
    height: 220px;
    color: #ffffff;
    background-color: #040736;
    display: flex;
    flex-direction: column;
    padding: 50px 60px 0px 60px;
    font-size: 14px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#footer-ano {
    text-align: center;
}

.footer hr {
    width: 100%;
}

.logo-footer img{
    height: 80px;
}

.sobre {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.sobre-texto {
    width: 60%;
}

.sobre-imagem {
    width: 35%;
}

.sobre-imagem img {
    width: 100%;
    border-radius: 7px;
}

.banner-login {
    background-image: url(../assets/fundo-gradiente.png);
    background-size: cover;
    height: 500px;
    color: #ffffff;
    background-color: #040736;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.conteudo-login {
    color: #040736;
    display: flex;
    padding: 60px 60px 0px 60px;    
    width: 80%;
    height: 80%;
    align-self: center;
    justify-content: space-around;
}

.div-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    width: 40%;
}

.div-input label {
    margin-bottom: 10px;
}

.input {
    height: 32px;
    padding: 0px 10px 0px 10px;
    background-color: #F4F5F8;
    border-radius: 5px;
    border: 1px #959595 solid;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.texto-login {
    display: flex;
    color: #ffffff;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 160px;
}

.texto-login h1 {
    margin: 0;
}

.container-campos {
    display: flex;
    align-items: center;
    background-color: #F4F5F8;
    height: 80%;
    width: 40%;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
 
}

.texto-destacado {
    font-weight: 600;
}

