


@media (max-width: 620px) {

    .container-navbar{
        align-items: start;
        
    }

    .menu{
        flex-direction: column;
        justify-content: center;
    }

    .navbar{
        display: none; 
        position: absolute;
        flex-direction: column-reverse;
        gap: 10px;
        top: 8%; /* Posiciona abaixo do ícone */
        left: 80%; /* Centraliza horizontalmente */
        transform: translateX(-50%);
        z-index: 1000;
        background-color: rgb(25, 43, 115);
        padding: 2%;
        border-radius: 15px;
    }

    .navbar.show {
        display: flex; 
        flex-direction: column;
        gap: 10px;
    }

    .requisitions-container {
        width: 100%;
        overflow-x: auto; 
        overflow-y: hidden; 
        white-space: nowrap; 
    }

    .requisition-table {
        width: 1200px; 
        border-collapse: collapse;
    }

    .requisition-table th,
    .requisition-table td {
        white-space: nowrap; /* Impede quebra de linha */
        text-align: center;
        padding: 8px;
    }

    /* Tela inicial */
    .banner-home {
        height: 400px;
    }

    .container-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-texto h1,
    .container-texto p {
        width: 90%;
    }

    .cards {
        flex-direction: column;
        gap: 20px;
    }

    .sobre {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .sobre-texto,
    .sobre-imagem {
        width: 100%;
        text-align: center;
    }

    .conteudo {
        flex-direction: column;
    }

    .logo-footer,
    .texto-footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;
        text-align: center;
    }

    /* Login */
    .conteudo-login {
        flex-direction: column;
        padding: 20px;
    }

    .div-input {
        max-width: 100%;
    }

    .texto-login {
        width: 100%;
        padding-bottom: 20px;
    }

    .container-campos {
        width: 100%;
    }

    /* Tela de usuário */
    @media (max-width: 768px) {
        .container.usuarios {
            padding: 0 15px;
        }
        
        .search-and-select {
            flex-direction: column;
            gap: 10px;
        }
        
        .user-cards {
            grid-template-columns: 1fr;
        }
        
        .role-select {
            width: 100%;
        }
        
        .modal-content {
            width: 95%;
            padding: 15px;
        }
        
        .card-buttons {
            justify-content: center;
        }
        
        .btn-performance, 
        .btn-edit, 
        .btn-toggle {
            width: 100%;
            justify-content: center;
        }
    }
}

@media (max-width: 480px) {


    /* Tela inicial */
    .navbar,
    .navbar a {
        gap: 10px;
    }

    .container-navbar {
        padding: 5px 10px;
    }

    .cards {
        padding: 0px 10px;
    }

    .sobre {
        width: 100%;
    }

    .sobre-texto,
    .sobre-imagem {
        width: 100%;
    }

    .conteudo {
        flex-direction: column;
    }

    /* Login */
    .conteudo-login {
        padding: 10px;
    }

    .div-input {
        margin-bottom: 10px;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }

    label {
        align-self: flex-start;
    }

    .input {
        max-width: 60%;
    }

    .texto-login h1 {
        font-size: 24px;
    }

    .container-campos {
        display: flex;
        justify-content: center;
        padding: 0px 20px 0px 20px;
        align-self: center;
    }

}